<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.9),rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/1440918/pexels-photo-1440918.jpeg?cs=srgb&dl=adorable-animal-cat-1440918.jpg&fm=jpg');">

  <div class="container">
    <h1>Rent my cat</h1>
    <p>Enjoy your free time with the most <strong>beautiful cats</strong> in town</p>
    <%= link_to 'Our cats', cats_path, class:'btn btn-light' %>
  </div>
</div>
