.btn-secondary {
  background-color: grey;
  border: solid 1px grey;
  color: white;
  font-size: 16px;
}

.btn-secondary:hover {
  background-color: lightgrey;
  border: solid 1px lightgrey;
  color: black;
}
