<div class="container">
  <h1>Find the cats around you</h1>
  <div class="row">
    <ul class="list-unstyled col">
      <% @cats.each do |cat| %>
      <div class="card-category mb-3">
        <li>
          <h2><%= cat.name %></h2>
          <p>
            <small><%= cat.address %></small>
          </p>
        </li>
      </div>
      <% end %>
    </ul>
  </div>
</div>
